#profile-pic {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.image-holder {
	vertical-align: top;
	display: inline-block;
	width: 20%;
}

.text-holder {
	vertical-align: top;
	display: inline-block;
	width: 60%;
}

.center-container {
	text-align: center;
}

.image-container {
	display: inline-block;
	margin: 0 auto;
	text-align: right;
}

.image-container img {
	display: block;
}

.image-container label {
	font-size: .8em;
	color: #AAA;
}
