#profile-pic {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.image-holder {
	vertical-align: top;
	display: inline-block;
	width: 20%;
}

.text-holder {
	vertical-align: top;
	display: inline-block;
	width: 60%;
}

.center-container {
	text-align: center;
}

.image-container {
	display: inline-block;
	margin: 0 auto;
	text-align: right;
}

.image-container img {
	display: block;
}

.image-container label {
	font-size: .8em;
	color: #AAA;
}

.material-icons {
	width: 24px;
	height: 24px;
}

.btn.left {
	border-radius: 5px 0 0 5px;
}

.btn.middle {
	border-radius: 0;
	margin-left: 0;
}

.btn.right {
	border-radius: 0 5px 5px 0;
	margin-left: 0;
}

.btn.disabled {
	background: rgba(0, 0, 0, 0.5);
	border-color: #555;
	cursor: default;
}