<section class="page-header">
	<h1 class="project-name">{{ site.title }}</h1>
	<h2 class="project-tagline">{{ site.tagline }}</h2>
	<a href="/" class="btn">Blog overview</a><br>
	{% if page.id != null %}
		<a href="{{ page.previous.url }}" title="{{ page.previous.title }}" class="btn left {% if page.previous.url == null %}disabled{% endif %}"><</a>
		<div class="btn middle">{{ page.title}}</div>
		<a href="{{ page.next.url }}" title="{{ page.next.title }}" class="btn right {% if page.next.url == null %}disabled{% endif %}">></a>
	{% endif%}
	<div class="overview-container hidden" tabindex="-1">
		<div class="inner-container">
			<ul>
				{% for post in site.posts %}
				<a href="{{post.url}}"><li class="post-item {% if post.url == page.url %}active{% endif %}">{{post.title}}</li></a>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>